.search {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search input {
  font: inherit;
  color: white;
  background: rgba(121, 163, 207, 0.1);
  border: 0;
  padding: 0 10px;
  height: 36px;
  width: 100%;
  box-sizing: border-box;
  outline: none;

  &::placeholder {
    color: rgba(121, 163, 207, 0.5);
  }
}

.search input:focus {
  background: rgb(22, 33, 48);
}

.search ul {
  position: absolute;
  top: 36px;
  left: 0;
  list-style: none;
  padding: 0;
  z-index: 999;
  margin: 0;
  background: rgb(22, 33, 48);
  width: 100%;
  max-height: calc(100vh - 80px);
  overflow: auto;
  filter: drop-shadow(0 3px 7px rgba(0, 0, 0, 0.4));
}

.search ul li {
  padding: 10px 10px;
  cursor: pointer;
  line-height: 1.15;
  display: flex;
  gap: 8px;
}
.search ul li:nth-child(2n) {
  background: rgba(121, 163, 207, 0.03);
}

.search ul li img {
  height: 36px;
  width: 36px;
  background: rgba(121, 163, 207, 0.1);
}

.search ul li div > div {
  font-weight: 500;
}
.search ul li span {
  font-size: 0.9em;
  opacity: 0.5;
}

.search ul li.selected {
  background: rgba(121, 163, 207, 0.1);
}
