@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut50 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn50 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.viewer {
  touch-action: "pan-y";
  cursor: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &.show {
    cursor: unset;
  }

  &.fill {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

.viewer header {
  display: flex;
  // align-items: center;
  position: fixed;
  z-index: 999;
  user-select: none;
  gap: 12px;

  .backTo {
    filter: drop-shadow(0 0 5px black);

    display: flex;
    align-items: center;
    padding: 8px 4px;
    gap: 4px;
    > svg {
      opacity: 0.5;
      transition: opacity 200ms;
    }
    div {
      display: flex;
      gap: 2px;
      align-items: center;
      svg {
        height: 18px;
      }
    }

    &:hover {
      > svg {
        opacity: 1;
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 4px;

    > div {
      display: flex;
      align-items: center;
      padding: 8px;
      opacity: 1;
      transition: opacity 200ms;
      filter: drop-shadow(0 0 5px black);
      cursor: pointer;

      @media (pointer: fine) {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.letterBox {
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: 1;
  user-select: none;
  opacity: 0;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.prev,
.next {
  position: fixed;
  bottom: 0;
  padding: 8px 4px;
  z-index: 999;
  display: flex;
  align-items: flex-end;
  gap: 4px;
  filter: drop-shadow(0 0 5px black);

  div {
    max-width: calc(50vw - 40px);
    overflow: hidden;
    line-height: 1.2;
  }

  svg {
    height: 18px;
    opacity: 0.5;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: calc(100% + 64px);
    width: calc(100% + 64px);
    pointer-events: none;
    z-index: -1;
  }
}

.prev {
  left: 0;
  &::before {
    left: 0;
  }
}

.next {
  right: 0;
  &::before {
    right: 0;
  }
  text-align: right;
}

.overlay {
  position: fixed;
  z-index: 999;
  opacity: 0;
  transition: opacity 300ms ease;
}

.viewer.show .overlay {
  opacity: 1;
}

.viewer main {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;

  user-select: none;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.viewer.smoothX {
  main {
    transition: transform 300ms ease;
  }
}

.viewer.loaded {
  main {
    animation: fadeIn 300ms ease forwards;
  }
  .letterBox {
    animation: fadeIn50 300ms ease forwards;
  }
}

.viewer.exiting {
  main {
    transition: transform 300ms ease;
    animation: fadeOut 300ms ease forwards;
  }

  .letterBox {
    animation: fadeOut50 300ms ease forwards;
  }
}

.infoBox {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  filter: drop-shadow(0 0 5px black);

  .name {
    position: fixed;
    white-space: nowrap;
    top: 0;
    right: 0;
    transition: opacity 300ms ease;
    opacity: 0.5;
    user-select: none;
    display: flex;
    cursor: default;
    align-items: center;
    padding: 8px;
    gap: 8px;
    transition: background 300ms ease, opacity 300ms ease;
  }

  .popup {
    width: 400px;
    max-width: calc(100vw - 24px);
    position: fixed;
    top: 41px;
    pointer-events: none;
    right: 0;
    background: rgb(22, 33, 48);
    opacity: 0;
    transition: opacity 300ms ease, transform 300ms ease;
    padding: 8px;
    font-size: 0.9em;
    transform: translateY(6px);
    line-height: 1.6;

    p {
      margin: 0;
    }
  }

  @supports (backdrop-filter: blur(1px)) {
    .popup {
      background: rgba(8, 13, 19, 0.5);
      backdrop-filter: blur(24px);
    }
  }

  @media (pointer: fine) {
    &:hover {
      .name {
        opacity: 1 !important;
        background: rgb(22, 33, 48);
      }
      @supports (backdrop-filter: blur(1px)) {
        .name {
          border-color: transparent;
          background: rgba(8, 13, 19, 0.5);
          backdrop-filter: blur(24px);
        }
      }
      .popup {
        pointer-events: all;
        opacity: 1;
        transform: none;
      }
    }
  }

  @media (pointer: coarse) {
    &.show {
      .name {
        opacity: 1 !important;
        background: rgb(22, 33, 48);
      }
      @supports (backdrop-filter: blur(1px)) {
        .name {
          border-color: transparent;
          background: rgba(8, 13, 19, 0.5);
          // backdrop-filter: blur(24px);
        }
      }
      .popup {
        pointer-events: all;
        opacity: 1;
        transform: none;
      }
    }
  }
}

.viewer.show .infoBox .name {
  opacity: 0.7;
}

@media screen and (max-width: 600px) {
  .viewer header {
    width: 100%;
    justify-content: space-between;
  }
  .prev,
  .next {
    display: none;
  }

  .infoBox {
    top: unset;
    bottom: 0;
    .name {
      bottom: 0;
      top: unset;
      width: 100%;
      justify-content: flex-end;
    }
    .popup {
      top: unset;
      bottom: 41px;
      max-width: unset;
      width: 100%;
    }
  }
}
