@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut50 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn50 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.viewer {
  touch-action: "pan-y";
  cursor: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &.show {
    cursor: unset;
  }

  &.fill {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

.hitbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.viewer header {
  display: flex;
  // align-items: center;
  position: fixed;
  z-index: 999;
  user-select: none;
  gap: 12px;

  .backTo {
    filter: drop-shadow(0 0 5px black);

    display: flex;
    align-items: center;
    padding: 8px 4px;
    gap: 4px;
    white-space: nowrap;
    overflow: hidden;
    > svg {
      opacity: 0.5;
      transition: opacity 200ms;
      width: 24px;
      flex: 0 0 24px;
    }
    div {
      display: flex;
      gap: 4px;
      align-items: center;
      svg {
        height: 18px;
      }
    }

    &:hover {
      > svg {
        opacity: 1;
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 4px;

    > * {
      display: flex;
      align-items: center;
      padding: 8px;
      opacity: 1;
      transition: opacity 200ms;
      filter: drop-shadow(0 0 5px black);
      cursor: pointer;

      &.dropdown {
        padding: 0 0 0 8px;
      }

      select {
        font-size: 0.9em;
      }

      @media (pointer: fine) {
        &:not(.dropdown) {
          opacity: 0.5;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.letterBox {
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: 1;
  user-select: none;
  opacity: 0;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.prev,
.next {
  position: fixed;
  bottom: 0;
  padding: 8px 4px;
  z-index: 999;
  display: flex;
  align-items: flex-end;
  gap: 4px;
  filter: drop-shadow(0 0 5px black);
  opacity: 0.5;
  transition: opacity 200ms;

  div {
    max-width: calc(50vw - 40px);
    overflow: hidden;
    line-height: 1.2;
  }

  svg {
    height: 18px;
    opacity: 0.5;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: calc(100% + 64px);
    width: calc(100% + 64px);
    pointer-events: none;
    z-index: -1;
  }

  @media (pointer: fine) {
    &:hover {
      opacity: 1;
    }
  }

  @media (pointer: coarse) {
    opacity: 1;
  }
}

.prev {
  left: 0;
  &::before {
    left: 0;
  }
}

.next {
  right: 0;
  &::before {
    right: 0;
  }
  text-align: right;
}

.overlay {
  position: fixed;
  z-index: 999;
  opacity: 0.3;
  transition: opacity 300ms ease;
}

.viewer.show .overlay {
  opacity: 1;
}

.viewer main {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  top: 0;
  left: 0;

  user-select: none;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.viewer.smoothX {
  main {
    transition: transform 300ms ease;
  }
}

.viewer.loaded {
  main {
    animation: fadeIn 300ms ease forwards;
  }
  .letterBox {
    animation: fadeIn50 300ms ease forwards;
  }
}

.viewer.exiting {
  main {
    transition: transform 300ms ease;
    animation: fadeOut 300ms ease forwards;
  }

  .letterBox {
    animation: fadeOut50 300ms ease forwards;
  }
}

.infoBox {
  position: relative;
  z-index: 999;
  top: 0;
  right: 0;
  filter: drop-shadow(0 0 5px black);
  height: 100%;
  width: 100%;
  pointer-events: none;

  .name {
    position: fixed;
    z-index: 999;
    white-space: nowrap;
    top: 0;
    right: 0;
    box-sizing: border-box;
    transition: opacity 300ms ease;
    opacity: 0.5;
    user-select: none;
    // display: flex;
    cursor: default;
    // align-items: center;
    transition: background 300ms ease, opacity 300ms ease;
    pointer-events: auto;
    > div {
      display: flex;
      gap: 8px;
      padding: 8px;
      align-items: center;

      > span {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 20px;
        }
      }
    }
  }

  .popup {
    width: 400px;
    max-width: calc(100vw - 24px);
    max-height: calc(var(--vh) * 100 - 41px);
    overflow: auto;
    cursor: initial !important;
    position: fixed;
    top: 41px;
    pointer-events: none;
    right: 0;
    background: rgb(22, 33, 48);
    opacity: 0;
    transition: opacity 300ms ease, transform 300ms ease;
    padding: 8px;
    font-size: 1em;
    transform: translateY(6px);
    line-height: 1.5;
    color: rgb(165, 178, 196);
    font-weight: 300;
  }

  @supports (backdrop-filter: blur(1px)) {
    .popup {
      background: rgba(8, 13, 19, 0.8);
      backdrop-filter: blur(24px);
    }
  }

  @media (pointer: fine) {
    &:hover {
      .name {
        opacity: 1 !important;
        background: rgb(22, 33, 48);
      }
      @supports (backdrop-filter: blur(1px)) {
        .name {
          border-color: transparent;
          background: rgba(8, 13, 19, 0.8);
          // backdrop-filter: blur(24px);
        }
      }
      .popup {
        pointer-events: auto;
        opacity: 1;
        transform: none;
        transition-delay: none !important;
      }
    }
  }

  @media (pointer: coarse) {
    &.show {
      .name {
        opacity: 1 !important;
        background: rgb(22, 33, 48);
      }
      @supports (backdrop-filter: blur(1px)) {
        .name {
          border-color: transparent;
          background: rgba(8, 13, 19, 0.8);
          // backdrop-filter: blur(24px);
        }
      }
      .popup {
        pointer-events: all;
        opacity: 1;
        transform: none;
        transition-delay: 0;
      }
    }
  }
}

.viewer.show .infoBox .name {
  opacity: 0.7;
}

@media screen and (max-width: 1100px) {
  .popup {
    font-size: 0.9em !important;
  }
}

@media screen and (max-width: 600px) {
  .viewer header {
    width: 100%;
    justify-content: space-between;
  }
  .prev,
  .next {
    display: none;
  }

  .infoBox {
    top: unset;
    bottom: 0;
    .name {
      bottom: 0;
      top: unset;
      width: 100%;
      > div {
        justify-content: space-between;
        padding: 11.5px 8px;
      }

      height: unset;
      padding-bottom: calc(env(safe-area-inset-bottom, 0) - 11.5px);
    }
    .popup {
      top: unset;
      // bottom: calc(48px + env(safe-area-inset-bottom, 0));
      bottom: calc(36.5px + env(safe-area-inset-bottom, 0));
      max-width: unset;
      width: 100%;
      line-height: 1.45;
      max-height: calc(
        var(--vh) * 100 - (36.5px + env(safe-area-inset-bottom, 0))
      );
    }
  }
}

.popup {
  nav {
    display: flex;
    gap: 4px 12px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px;

    > div {
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: 2px;

      svg {
        height: 18px;
        opacity: 0.5;
      }

      a {
        opacity: 0.7;
        transition: 200ms opacity;
        &:hover {
          opacity: 1;
        }
      }

      a:not(:last-child)::after {
        content: ", ";
      }
    }
  }

  p {
    margin: 0 0 8px 0;
  }

  h3 {
    margin: 8px -8px -8px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.8em 10px;

    font-size: 0.9em;
    letter-spacing: 0.1em;
    border-top: 1px solid rgba(121, 163, 207, 0.2);

    > span {
      display: flex;
      align-items: center;
      gap: 0.4em;
      opacity: 0.7;
      transition: opacity 200ms;

      > svg {
        height: 1.4em;
      }
    }

    > svg {
      opacity: 0.5;
      transition: opacity 200ms;
    }

    &:hover {
      > span,
      > svg {
        opacity: 1;
      }
    }
  }
}

.chromas {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: space-evenly;
  padding-bottom: 0.5em;

  > div {
    width: 180px;
    height: 180px;
    position: relative;

    > div {
      width: 16px;
      height: 16px;
      border-radius: 100%;
      border: 1px solid white;
    }
  }
}
