.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 32px;
  padding: 32px;
  justify-content: center;

  > a {
    display: block;
    position: relative;

    .tile {
      transition: transform 200ms;
      background: rgba(121, 163, 207, 0.1);
    }

    &:hover .tile {
      transform: scale(1.1);
    }

    > div {
      font-weight: 500;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 12px;
      line-height: 1.3;
      color: rgb(165, 178, 196);
      transition: color 200ms;
    }

    &:hover > div {
      color: white;
    }
  }
}

.rarityBadge {
  height: 20px;
  width: 20px;
  flex: 0 0 20px;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 1000px) {
  .grid {
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media screen and (max-width: 850px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;

    > a {
      display: grid;
      grid-template-columns: 60px auto;
      gap: 12px;
      background: rgba(255, 255, 255, 0.08);
      backdrop-filter: blur(12px);
      padding-right: 12px;

      > div {
        //   display: flex;
        align-items: center;
      }
    }
  }
}
