.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  filter: blur(4px);
  opacity: 0.2;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
  }
}

.container {
  position: relative;
  z-index: 1;
}

.title {
  letter-spacing: -0.04em;
  font-size: 5em;
  padding-left: 32px;

  text-align: left;
  margin: 32px 0 24px;
  line-height: 1;
  color: white;
}

.subtitle {
  margin: 32px 0 -24px;
  padding-left: 32px;
  display: flex;
  align-items: center;
  gap: 0.4em;
  opacity: 0.5;
  font-weight: 300;
  color: rgb(165, 178, 196);
}

.description {
  padding: 0 32px;
  color: rgb(165, 178, 196);
  filter: drop-shadow(0 0 4px black);
}

.groupTitle {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5em;
  line-height: 1.2;
  margin: 20px 0 -8px;
  padding-top: 20px;
  padding-left: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  a {
    align-items: center;
    gap: 0.4em;
    display: flex;

    svg {
      opacity: 0.3;
    }
  }
}

.controls {
  display: flex;
  margin-top: 0.2em;
  justify-content: flex-start;
  padding-left: 32px;

  margin-bottom: 0.4em;
  label {
    display: block;

    span {
      color: rgb(165, 178, 196);
      display: block;
    }

    select {
      font-size: 0.9em;
    }
  }
}
@media screen and (max-width: 1000px) {
  .title,
  .groupTitle,
  .subtitle {
    padding-left: 24px;
  }
  .description {
    padding: 0 24px;
  }
}

@media screen and (max-width: 850px) {
  .title,
  .groupTitle,
  .subtitle,
  .controls {
    padding-left: 16px;
  }
  .description {
    padding: 0 16px;
    line-height: 1.4;
  }

  .title {
    margin: 16px 0 8px;
    font-size: 4em;
  }

  .groupTitle {
    margin: 12px 0 -4px;
  }
}

@media screen and (max-width: 650px) {
  .subtitle {
    margin-bottom: -8px;
    font-size: 1.2em;
    margin-top: 16px;
    svg {
      height: 1.1em;
    }
  }
  .description {
    font-size: 0.9em;
  }
  .title {
    margin: 16px 0 8px;
    font-size: 2.5em;
  }

  .groupTitle {
    font-size: 1.3em;
  }
}
