.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  filter: blur(2px);
  opacity: 0.2;
}

.container {
  position: relative;
  z-index: 1;
}

.title {
  letter-spacing: -0.04em;
  font-size: 5em;
  padding-left: 32px;

  text-align: left;
  margin: 32px 0 24px;
  line-height: 1;
  color: white;
}

.subtitle {
  margin: 32px 0 -24px;
  padding-left: 32px;
  display: flex;
  align-items: center;
  gap: 0.4em;
  opacity: 0.5;
  font-weight: 300;
  color: rgb(165, 178, 196);
}

.groupTitle {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5em;
  margin: 20px 0 -8px;
  padding-top: 20px;
  padding-left: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  a {
    align-items: center;
    gap: 0.4em;
    display: flex;

    svg {
      opacity: 0.3;
    }
  }
}

.controls {
  display: flex;
  margin-top: 0.2em;
  justify-content: flex-start;
  padding-left: 32px;
  label {
    display: block;

    span {
      color: rgb(165, 178, 196);
      display: block;
    }

    select {
      font: inherit;
      background: rgba(121, 163, 207, 0.2);
      color: white;
      font-size: 0.9em;
      padding: 4px 18px 4px 6px;
      border: none;

      option {
        background: black;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .title,
  .groupTitle,
  .subtitle {
    padding-left: 24px;
  }
}

@media screen and (max-width: 850px) {
  .title,
  .groupTitle,
  .subtitle,
  .controls {
    padding-left: 16px;
  }

  .title {
    margin: 16px 0 8px;
    font-size: 4em;
  }

  .groupTitle {
    margin: 12px 0 -4px;
  }
}

@media screen and (max-width: 650px) {
  .subtitle {
    margin-bottom: -8px;
    font-size: 1.2em;
    margin-top: 16px;
    svg {
      height: 1.1em;
    }
  }
  .title {
    margin: 16px 0 8px;
    font-size: 2.5em;
  }

  .groupTitle {
    font-size: 1.3em;
  }
}
