html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  background: rgb(12, 15, 19);
  color: white;
  /* touch-action: pan-y; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  /* background: rgba(0, 0, 0, 0.8); */
  border-left: 1px solid rgb(31, 39, 48);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(31, 39, 48);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(45, 57, 70);
}

select {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tZG93biI+PHBvbHlsaW5lIHBvaW50cz0iNiA5IDEyIDE1IDE4IDkiPjwvcG9seWxpbmU+PC9zdmc+")
    no-repeat calc(100% - 4px) 50%;
  background-size: 18px 18px;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;

  font: inherit;
  background-color: rgba(121, 163, 207, 0.2);
  color: white;
  padding: 6px 32px 6px 6px;
  border: none;

  option {
    background: black;
  }
  appearance: none;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
