html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  background: rgb(12, 15, 19);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
