.container {
  display: grid;

  nav {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgb(31, 39, 48);
    user-select: none;

    > div {
      display: flex;
      align-items: center;
      padding: 8px 10px;
      position: relative;

      &:not(:first-child)::before {
        content: "";
        top: -2px;
        height: calc(100% + 4px);
        left: -10px;
        position: absolute;
        border-left: 1px solid rgb(31, 39, 48);
      }
    }

    .tabs > div {
      padding: 4px 12px;
      cursor: pointer;
      color: rgb(90, 107, 129);
      border-radius: 100px;
      transition: background-color 200ms, color 200ms;

      &:hover {
        color: white;
      }

      &.active {
        cursor: default;
        color: white;
        background-color: rgb(31, 39, 48);
      }
    }

    .filters label {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        opacity: 0.7;
        font-size: 0.8em;
      }
      select {
        font: inherit;
        background: rgb(31, 39, 48);
        color: white;
        font-size: 0.9em;
        padding: 4px 18px 4px 6px;
        border: none;

        option {
          background: black;
        }
      }
    }
  }
}

.champions {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, 190px);
  gap: 14px;
  justify-content: space-between;

  > a {
    display: grid;
    position: relative;
    grid-template-columns: 40px auto;
    align-items: center;
    z-index: 1;
    gap: 12px;

    &::before {
      content: "";
      background: rgb(31, 39, 48);
      position: absolute;
      top: -6px;
      left: -6px;
      width: calc(100% + 12px);
      height: calc(100% + 12px);
      opacity: 0;
      z-index: -1;
      // transition: opacity 150ms;
    }

    &:hover::before {
      opacity: 1;
    }

    div {
      color: rgb(165, 178, 196);
      transition: color 200ms;
      font-weight: 300;
    }

    &:hover div {
      color: white;
      // opacity: 1;
    }

    img {
      background: rgba(163, 206, 255, 0.1);
    }
  }
}

.universes,
.skinlines {
  columns: 6;
  padding: 10px;
  font-weight: 300;
  line-height: 1.3;

  > div {
    display: block;
    break-inside: avoid;

    a {
      color: rgb(165, 178, 196);
      // opacity: 0.7;
      display: block;
      padding: 6px 8px;
      transition: color 200ms, opacity 200ms;

      &:hover {
        background: rgb(23, 29, 36);
        color: white;
        opacity: 1;
      }
    }

    > ul {
      padding: 0;
      margin: 0;
      z-index: 12;
      width: 100%;
      list-style: none;
      a {
        margin-left: 32px;
        color: rgb(90, 107, 129);
      }
    }
  }
}
