.container {
  display: grid;

  nav {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgb(31, 39, 48);
    user-select: none;

    > div {
      display: flex;
      align-items: center;
      padding: 8px 10px;
      position: relative;

      &:not(:first-child)::before {
        content: "";
        top: -2px;
        height: calc(100% + 4px);
        left: -10px;
        position: absolute;
        border-left: 1px solid rgb(31, 39, 48);
      }
    }

    .tabs > a {
      padding: 4px 8px;
      cursor: pointer;
      color: rgba(121, 163, 207, 0.5);
      // border-radius: 100px;
      transition: background-color 200ms, color 200ms;

      &:hover {
        color: white;
      }

      &.active {
        cursor: default;
        color: white;
        background-color: rgba(121, 163, 207, 0.2);
      }
    }

    .filters label {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 0.9em;

      span {
        color: rgb(165, 178, 196);
      }

      select {
        font: inherit;
        background: rgba(121, 163, 207, 0.2);
        color: white;
        padding: 4px 18px 4px 6px;
        border: none;

        option {
          background: black;
        }
      }
    }
  }
}

.champions {
  display: grid;
  padding: 10px;
  line-height: 1.2;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 14px;
  justify-content: space-between;

  > a {
    display: grid;
    position: relative;
    grid-template-columns: 40px auto;
    align-items: center;
    z-index: 1;
    gap: 12px;

    &::before {
      content: "";
      background: rgba(121, 163, 207, 0.1);
      position: absolute;
      top: -6px;
      left: -6px;
      width: calc(100% + 12px);
      height: calc(100% + 12px);
      opacity: 0;
      z-index: -1;
      transition: opacity 200ms;
    }

    &:hover::before {
      opacity: 1;
    }

    div {
      color: rgb(165, 178, 196);
      transition: color 200ms;
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:hover div {
      color: white;
      // opacity: 1;
    }

    img {
      background: rgba(121, 163, 207, 0.1);
    }
  }
}

.universes,
.skinlines {
  columns: 6;
  padding: 10px;
  font-weight: 300;
  line-height: 1.3;

  > div {
    display: block;
    break-inside: avoid;

    a {
      color: rgb(165, 178, 196);
      // opacity: 0.7;
      display: block;
      padding: 6px 8px;
      transition: background-color 200ms, color 200ms, opacity 200ms;

      &:hover {
        background: rgb(23, 29, 36);
        color: white;
        opacity: 1;
      }
    }

    > ul {
      padding: 0;
      margin: 0;
      z-index: 12;
      width: 100%;
      list-style: none;
      a {
        margin-left: 32px;
        color: rgba(121, 163, 207, 0.6);
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .universes,
  .skinlines {
    columns: 5;
  }
}

@media screen and (max-width: 1100px) {
  .champions {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 10px;
  }

  .universes,
  .skinlines {
    columns: 4;

    > div > ul a {
      margin-left: 16px;
    }
  }
}

@media screen and (max-width: 800px) {
  .universes,
  .skinlines {
    columns: 3;
  }
}

@media screen and (max-width: 600px) {
  .container nav {
    flex-direction: column;
    align-items: stretch;
    gap: 0;

    > div:not(:first-child) {
      // border-left: none;
      border-top: 1px solid rgb(31, 39, 48);
    }
    ::before {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .universes,
  .skinlines {
    columns: 2;
  }
}

@media screen and (max-width: 400px) {
  .universes,
  .skinlines {
    columns: 1;
  }
}
